.imagem-fundo {
    width: 100%;
    height: 10em;
    background-size: cover;
    background-repeat: repeat;
}

.conteudo-principal {
    width: 85%;
    margin: auto;
    margin-bottom: 5em;
}

.voltar {
    margin-top: 1em;
    margin-left: 1em;
    position: absolute;
}

.descricao {
    text-align: justify;
}

@media (max-width: 400px) {
    .descricao {
        font-size: 0.8em;
        width: 100%;
    }

}

@media (min-width: 1000px) {
 
    .imagem-fundo {
        width: 100%;
        height: 25em;
        background-size: cover;
        background-repeat: repeat;
    }

}

@media (min-width: 2000px) {
 
    .imagem-fundo {
        width: 100%;
        height: 30em;
        background-size: cover;
        background-repeat: repeat;
    }

}